.formField-label {
  
  color: rgb(101, 119, 134);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.css-yk16xz-control{
  width: 100%;
}

.rowInput {
  
  columns: auto
}

.formField-label span:first-letter {
  text-transform: capitalize;
}

