.imageNF {
    height: 100% ;
 }
 
 .noTFound {
     text-align: center;
     font-weight: bold;     
 }
 
 .containerNF{     
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }