    
.content {
  margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  

img {
    width: 260px;
    height: 200px;
    min-width: 120px;
    min-height: 140px;
    
  }

.boxDetail {
    
    text-align: left;
}
  