    
.content {
  margin-top: 20px;
    display: flex;
    flex-wrap: wrap;


  }
  

img {
    width: 260px;
    height: 200px;
    min-width: 120px;
    min-height: 140px;
    
  }

.boxDetail {
    
    text-align: left;
}
  
.link {
  text-decoration: none;
}

a:hover {
  text-decoration: none i !important;
}
